.main-body {
  min-width: 1000px;
  min-height: 100vh;
}
/* display 속성 */
.main-body,
.login-div,
.join-div {
  display: flex;
  flex-direction: column;
}
.main-header,
.input-id,
.input-pw,
.input-record,
.input-email,
.input-nickname,
.input-gender,
.input-tech,
.input-tech div,
.post-head-data {
  display: flex;
  align-items: center;
}
/* // display 속성 */
.main-header {
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}
.main-header h1 > a,
.main-btnGroup a,
.board-table a {
  text-decoration: none;
  color: black;
}
.main-btnGroup,
.main-btnGroup a {
  padding: 15px;
}
.main-btnGroup button,
.login-div button,
.join-div button {
  border: 0;
  font: inherit;
}
.main-btnGroup button {
  background-color: white;
}
.main-footer {
  background-color: #ddd;
  text-align: center;
}
.main-footer p {
  padding: 20px 0;
  margin: 0;
}
.content-div {
  flex-grow: 1;
}
.login-div,
.join-div {
  align-items: center;
  gap: 20px;
}
.login-div p,
.join-div p {
  color: darkgrey;
  margin-top: 0;
  padding: 0;
  margin-bottom: 40px;
}
.input-id label,
.input-pw label,
.input-record label,
.input-email label,
.input-nickname label,
.input-gender label,
.input-tech label {
  width: 100px;
  flex-shrink: 0;
}
.input-id,
.input-pw,
.input-record,
.input-email,
.input-nickname,
.input-gender,
.input-tech {
  width: 50%;
}
#record-id,
.input-tech div > input[type="checkbox"] {
  margin-right: 10px;
}
.input-id input,
.input-pw input,
.input-email input,
.input-nickname input {
  width: 100%;
  height: 30px;
}
.login-div button,
.join-div button {
  border-radius: 4px;
  color: white;
}
.login-div button,
.join-div button {
  width: 50%;
  height: 40px;
  background-color: rgb(110, 110, 252);
}
.input-tech div {
  flex-wrap: wrap;
}
.board-table {
  border-top: 2px solid black;
  border-bottom: 1px solid #ddd;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  height: 100px;
}
.board-table .table-head {
  background-color: #eee;
}
.board-table .table-head th,
.board-table .table-body td {
  border-top: 1px solid #ddd;
}
.post-contents {
  padding-left: 20px;
}
.post-contents {
  margin-bottom: 20px;
}
.post-head {
  background-color: #eee;
  padding: 10px 0 0 10px;
  margin-bottom: 10px;
  border-top: 2px solid black;
}
.post-div h2,
.post-head h3,
.post-contents ul,
.post-contents ol {
  margin: 0;
}
.post-head-data {
  gap: 20px;
}
.post-head-data p {
  padding-right: 20px;
  font-size: 14px;
}
.post-head-data :not(:last-child) {
  border-right: 1px solid rgb(151, 151, 151);
}
.post-contents ol,
.post-contents ul {
  padding-left: 20px;
}
.post-contents li {
  padding: 5px 0 5px 0;
}
.post-contents h4 {
  margin-bottom: 0;
}
.post-contents a {
  display: inline-block;
  margin-top: 30px;
}
